.section {

  &__title,
  &__subtitle {
    font-family: $serif;
    font-size: rem(12, 16);
    /* 12px / 16px */
    text-transform: uppercase;
  }

  &__title {
    color: $blue;
    font-weight: 700;
    position: relative;

    @include tablet {
      font-size: rem(16, 16);
      /* 16px / 16px */
    }

    &-number {
      position: absolute;
      font-size: 3rem;
      z-index: -1;
      color: $light-grey;
      top: -(rem(30,16)); /* 30px / 16px */
    }

    &--alternative {
      color: $white;
      font-weight: 300;
    }
  }

  &__subtitle {
    color: $medium-grey;
    font-weight: 400;
    margin-bottom: rem(0,16); /* 0px / 16px */

    @include tablet {
      font-size: rem(18, 16);
      /* 18px / 16px */
    }
  }

  &__paragraph {
    color: $dark-grey;
    font-family: $sans-serif;
    font-size: rem(16, 16);
    /* 16px / 16px */

    @include tablet {
      font-size: rem(20, 16);
      /* 20px / 16px */
      font-weight: 300;
      line-height: 1.85;
    }

    &--alternative {
      color: $white;
    }
  }

  &__small {
    color: $medium-grey;
  }

}